.chats{
    max-width: 700px;
    overflow-y: scroll;
    padding: 8rem;
}

.chatWindow::-webkit-scrollbar,
.chats::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.chatWindow::-webkit-scrollbar-thumb,
.chats::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2); /* light and subtle */
  border-radius: 4px;
}

.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv{
    text-align: left;
    font-size: 0.9rem;

}

.userMessage{
   background-color: #323232;
   padding: 10px 20px;
   border-radius: 14px;
   margin-left: 15rem;
   max-width: 500px;
   width: fit-content;
}

.hljs{
  border-radius: 14px !important;
}

pre{
  white-space: pre-wrap;
}